<h1><%= t('txt.registration.external_header', :state => @registrant.home_state_name) %></h1>

<div id="external">
  <div class="text">
    <p><%= t('txt.registration.external.colorado.show.p1') %></p>
    <p><%= t('txt.registration.external.colorado.show.p2') %></p>

    <p class="centered"><%= link_to t('txt.registration.external.colorado.register_link'), go_registrant_external_path(@registrant), :target => '_blank' %></p>

    <p><%= t('txt.registration.external.colorado.show.p3') %></p>

    <p class="centered"><%= link_to t('txt.registration.external.colorado.continue_link'), registrant_step_4_path(@registrant) %></p>

    <p><%= t('txt.registration.external.colorado.show.p4') %></p>
  </div>
</div>
