<% content_for :subnav do -%>
  <% @nav_class[:customize] = :current; @nav_class[:questions] = :current -%>
  <%= render :partial => "layouts/customize_nav" %>
<% end -%>

<div class="customize">
  <h1>Survey Questions</h1>

  <p>
    You can ask applicants to answer two customized questions during the voter registration process. The
    questions will appear on step four of the five-step process. Just enter your questions in the text boxes
    below. Questions in the English boxes will appear when applicants use the English version of the online
    voter registration tool; questions in the Spanish boxes will appear if they fill out the Spanish version.
  </p>
  <p class="extra_leading">
    We recommend asking questions that can be answered in a few words. For example:
  </p>

  <ul>
    <li>What is the top issue facing the country right now?</li>
    <li>If you are in school, where do you go?</li>
    <li>What is your favorite band?</li>
  </ul>

  <p class="extra_leading">
    You can see the applicants' answers when you
    <%= link_to "download your voter registration data", registrations_partner_path(:format => 'csv') %>.
    Also, make sure you check the box below if you want to ask applicants if they want to volunteer for your organization.
  </p>

  <div id="survey_questions">
    <%= form_for @partner, :url => partner_questions_path, :method => :put do |form| %>
      <%- if @partner.errors.count > 0 %>
        <div id="error_explanation">
          <h2><%= pluralize(@partner.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
            <% @partner.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <%- end %>
      <%- RockyConf.enabled_locales.each do |locale| %>
        <fieldset>
          <legend>Questions in <%= I18n.t('language_name', :locale=>locale)%> (<%= locale %>)</legend>
          <p><%= form.label "survey_question_1_#{locale}", "Question 1" %></p>
          <p><%= form.text_field "survey_question_1_#{locale}", :size => 90 %></p>
          <p><%= form.label "survey_question_2_#{locale}", "Question 2" %></p>
          <p><%= form.text_field "survey_question_2_#{locale}", :size => 90 %></p>
        </fieldset>
      
      <%- end %>
      <fieldset>
        <legend>Volunteering</legend>
        <p>
          <%= form.check_box :ask_for_volunteers %>
          <%= form.label :ask_for_volunteers, "Ask for volunteers for <strong>#{@partner.organization}</strong>".html_safe %>
          <% if @partner.organization.blank? %>
            &hellip; (you should fill in your organization name in your <%= link_to "profile", edit_partner_path %>)
          <% end %>
        </p>
      </fieldset>
      <%= partner_rollover_button("save", "Save") %>
    </div>
  <% end %>
</div>
