<h1><%= t('txt.registration.step_3_header') %></h1>

<% form_for(@registrant, :url => registrant_step_3_path(@registrant)) do |form| %>
  <%= form.error_messages %>
  <ul>
    <li class="left-label">
      <h2><%= form.label :state_id_number %></h2>
    </li>
    <li><%= form.text_field :state_id_number %></li>
  </ul>
  <ul>
    <li class="left-label">
      <h2><%= form.label :phone %></h2>
    </li>
    <li><%= form.text_field :phone %></li>
    <li>
      <h2><%= form.label :phone_type, 'Type' %></h2>
    </li>
    <li><%= form.select :phone_type, I18n.t('txt.registration.phone_types') %></li>
  </ul>

  <%= render(:partial => 'previous', :locals => {:form => form}) unless @registrant.first_registration? %>

  <div class="button"><%= form.submit I18n.t('txt.button.submit') %></div>
<% end %>
