<h1><%= t('txt.registration.step_3_header') %></h1>

<% form_for(@registrant, :url => registrant_step_3_path(@registrant)) do |form| %>
  <ul class="flat">
    <li>
      <h3><%= form.label :state_id_number %></h3>
      <%= field_div form, :state_id_number, :size => 20 %>
      <span class="error"><%= form.object.errors.on :state_id_number %></span>
    </li>
  </ul>
  <div class="instructions"><p><%= @state_id_tooltip %></p></div>
  <ul class="flat">
    <li class="width_b">
      <h3><%= form.label :phone %></h3>
      <div class="flat-stack">
        <%= field_div form, :phone %>
        <% if form.object.errors.on :phone %>
          <span class="error"><%= form.object.errors.on :phone %></span>
        <% else %>
          <span class="example">###-###-####</span>
        <% end %>
      </div>
      <%= tooltip_tag :phone %>
    </li>
    <li class="secondary">
      <h3><%= form.label :phone_type %></h3>
      <div class="flat-stack">
        <div><%= form.select :phone_type, I18n.t('txt.registration.phone_types') %></div>
        <span class="error"><%= form.object.errors.on :phone_type %></span>
      </div>
    </li>
  </ul>
  <%- if @registrant.partner.rtv_sms_opt_in || @registrant.partner.partner_sms_opt_in || @registrant.partner.primary? %>
    <ul class="checkbox">
      <%- if @registrant.partner.rtv_sms_opt_in || @registrant.partner.primary? %>
        <li class="spacer">&nbsp;</li>
        <li>
          <h3>
            <%= form.check_box :opt_in_sms %>
            <%= form.label :opt_in_sms, t('txt.registration.opt_in_sms', :organization=>h("Rock the Vote")) %>
  
          </h3>
        </li>
      <%- end %>
      <%- if @registrant.partner.partner_sms_opt_in && !@registrant.partner.primary? %>
        <li class="spacer">&nbsp;</li>
        <li>
          <h3>
            <%= form.check_box :partner_opt_in_sms %>
            <%= form.label :partner_opt_in_sms, t('txt.registration.opt_in_sms', :organization=>h(@registrant.partner.organization)) %>
          </h3>
        </li>
      <%- end %>
    </ul>
  <%- end %>

  <%= render(:partial => 'previous', :locals => {:form => form}) unless @registrant.first_registration? %>

  <%= rollover_button(:next_step, I18n.t('txt.button.submit')) %>
  <div class="back"><%= link_to t('txt.button.back'), registrant_step_2_path(@registrant) %></div>
<% end %>
