<%- if @registrant.in_ovr_flow? %>
  <h1><%= t('txt.registration.step_4_header') %></h1>
<%- else %>
  <h1><%= t('txt.registration.step_3_header') %></h1>
<%- end %>

<%= form_for(@registrant, :url => registrant_step_3_path(@registrant)) do |form| %>
  <%- if @registrant.in_ovr_flow? %>
    <%= render :partial=> 'registrants/email_opt_ins', :locals=>{:form=>form} %>
    <%= render :partial=> 'registrants/phone_opt_ins', :locals=>{:form=>form, :show_hr=>true} %>
    
    <%= render :partial=>'registrants/survey_and_volunteer', :locals=>{:form=>form} %>
    
  <%- else %>
    <%= render :partial=> "registrants/state_id_number", :locals=>{:form=>form} %>
  
    <%= render :partial=> "registrants/race_and_party", :locals=>{:form=>form} %>
    

  <%- end %>
  <%= rollover_button(:next_step, I18n.t('txt.button.submit').html_safe) %>

  
  <div class="back"><%= link_to t('txt.button.back').html_safe, registrant_step_2_path(@registrant) %></div>
<% end %>
