<h1><%= t('txt.registration.step_3_header') %></h1>

<% form_for(@registrant, :url => registrant_step_3_path(@registrant)) do |form| %>
  <ul class="flat">
    <li>
      <h3><%= form.label :state_id_number %></h3>
      <div><%= form.text_field :state_id_number, :size => 20 %></div>
      <%= tooltip_tag :state_id_number, @state_id_tooltip %>
      <span class="error"><%= form.object.errors.on :state_id_number %></span>
    </li>
  </ul>
  <div class="instructions"><p><%= I18n.t('txt.registration.instructions.state_id_number') %></p></div>
  <ul class="flat">
    <li>
      <h3><%= form.label :phone %></h3>
      <div class="flat-stack">
        <div><%= form.text_field :phone, :size => 20 %></div>
        <span class="error"><%= form.object.errors.on :phone %></span>
      </div>
      <%= tooltip_tag :phone %>
    </li>
    <li class="secondary">
      <h3><%= form.label :phone_type %></h3>
      <div class="flat-stack">
        <div><%= form.select :phone_type, I18n.t('txt.registration.phone_types'), :include_blank => true %></div>
        <span class="error"><%= form.object.errors.on :phone_type %></span>
      </div>
    </li>
  </ul>

  <%= render(:partial => 'previous', :locals => {:form => form}) unless @registrant.first_registration? %>

  <div class="back"><%= link_to t('txt.button.back'), registrant_step_2_path(@registrant) %></div>
  <div class="button"><%= image_submit_tag "#{I18n.locale}/button_nextstep.gif", :alt => I18n.t('txt.button.submit'), :id => "registrant_submit" %></div>
<% end %>
