<h1><%= t('txt.registration.step_3_header') %></h1>

<% form_for(@registrant, :url => registrant_step_3_path(@registrant)) do |form| %>
  <ul class="flat">
    <li>
      <h3><%= form.label :state_id_number %></h3>
      <div><%= form.text_field :state_id_number, :size => 20 %></div>
      <span class="error"><%= form.object.errors.on :state_id_number %></span>
    </li>
  </ul>
  <ul class="flat">
    <li>
      <h3><%= form.label :phone %></h3>
      <div><%= form.text_field :phone, :size => 20 %></div>
      <span class="error"><%= form.object.errors.on :phone %></span>
    </li>
    <li class="secondary">
      <h3><%= form.label :phone_type %></h3>
      <div><%= form.select :phone_type, I18n.t('txt.registration.phone_types') %></div>
      <span class="error"><%= form.object.errors.on :phone_type %></span>
    </li>
  </ul>

  <%= render(:partial => 'previous', :locals => {:form => form}) unless @registrant.first_registration? %>

  <div class="button"><%= form.submit I18n.t('txt.button.submit') %></div>
<% end %>
