<h1>Change My Password</h1>

<div class="login">
  <%= form_for @partner, :url => password_reset_path(@partner.perishable_token), :method => :put do |form| %>
    <fieldset>
      <legend>Reset Password</legend>
      <ul class="stacked">
        <li class="width_a">
          <h3><%= form.label :password, "New password" %></h3>
          <span class="error"><%= Array(form.object.errors[:password].join("\n")).first %></span>
          <%= field_div form, :password, :kind => "password", :value => "" %>
        </li>
      </ul>
      <ul class="stacked">
        <li class="width_a">
          <h3><%= form.label :password_confirmation, "Confirm Password" %></h3>
          <%= field_div form, :password_confirmation, :kind => "password", :value => "" %>
          <span class="error"><%= form.object.errors[:password_confirmation].join("\n") %></span>
        </li>
      </ul>
    </fieldset>
    <%= partner_rollover_button("reset", "reset") %>
  <% end %>
</div>
