<div class="state_online_registrations_instructions">
  <%- if @registrant.has_home_state_online_registration_instructions? %>
    <%= render :partial=>@registrant.home_state_online_registration_instructions_partial %>
  <%- else %>
    <p>
      <%= t('txt.registration.instructions.leave_state_online_registration', :state=>@registrant.home_state_name,:link=>link_to(t('txt.registration.instructions.leave_state_online_registration_link', :rtv_and_partner_name=>@registrant.rtv_and_partner_name).html_safe, registrant_step_3_url(@registrant))).html_safe %>
    </p>
  <%- end %>
</div>


<div class='button' style="margin:50px auto;">
  <a class='button_state_online_registration_<%= @registrant.locale.to_s.downcase %>' href='<%= @online_registration_iframe_url %>' target='_NEW'>
    <span><%=  I18n.t('txt.button.state_online_registration', :state=>@registrant.home_state_name) %></span>
  </a>
</div>

<div class="state_online_registration">
  <div class="text">
    <%= render :partial => "finishes/complete" %>
  </div>
  <%= render :partial=>'finishes/share' %>
</div>