<div class="state_online_registrations_instructions">
  <%- if @registrant.has_home_state_online_registration_instructions? %>
    <%= render :partial=>@registrant.home_state_online_registration_instructions_partial %>
  <%- else %>
    <p>
      <%= t('txt.registration.instructions.leave_state_online_registration', :state=>@registrant.home_state_name,:link=>link_to(t('txt.registration.instructions.leave_state_online_registration_link', :rtv_and_partner_name=>@registrant.rtv_and_partner_name.html_safe).html_safe, registrant_step_3_url(@registrant))).html_safe %>
    </p>
  <%- end %>
</div>

<iframe src="<%=@online_registration_iframe_url%>" width="560" height="725"></iframe>


<div class="state_online_registration">
  <div class="text">
    <%= render :partial => "finishes/complete" %>
  </div>
  <%= render :partial=>'finishes/share' %>
</div>