<h1>Edit Partner</h1>
<div class='actions'>
  <%= link_to "Back to partner", [ :admin, @partner ] %>
</div>

<%= form_for [ :admin, @partner ], :html => { :multipart => true } do |f| %>
  <%= render :partial=>'admin/shared/partner_general_fields', :locals=>{:f=>f} %>

  <%= render :partial=>'admin/shared/partner_whitelabel_fields', :locals=>{:f=>f} %>


  <%= partner_rollover_button 'update', 'Update' %>
<% end %>
