<h1>Partners</h1>

<% form_for [ :admin, @partner_zip], :url=>admin_partner_zips_path, :html => { :multipart => true }  do |f| %>
  <%= f.file_field 'zip_file' %>
  <%= f.label 'zip_file', 'Upload partner-creation zip file' %>
  <%= f.submit 'Upload' %>
<%- end %>
  

<table id="partners">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Whitelabeled</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%- @partners.each do |p| %>
      <tr>
        <td><%= p.id %></td>
        <td><%= h p.name %></td>
        <td><%= p.whitelabeled? ? 'Yes' : 'No' %></td>
        <td><%= link_to "Show", admin_partner_path(p) %></td>
      </tr>
    <%- end %>
  </tbody>
</table>
