<%- pd = PartnerDetails.new(@partner) %>

<h1>Partner: <%= h pd.name %></h1>
<div class='actions'>
  <%= link_to "Edit", [ :edit_admin, @partner ] %>
  <%= link_to "Assets", [ :admin, @partner, :assets ] %>
  <%= link_to "Back to partners", :admin_partners %>
</div>

<table class='properties'>
  <tr>
    <td class='label'>Name:</td>
    <td><%= h pd.name %></td>
  </tr>
  <tr>
    <td class='label'>Organization:</td>
    <td><%= h pd.organization %></td>
  </tr>
  <tr>
    <td class='label'>Email:</td>
    <td><%= h pd.email %></td>
  </tr>
  <tr>
    <td class='label'>Whitelabeled:</td>
    <td><%= pd.whitelabel_status %></td>
  </tr>

  <%- if !@partner.whitelabeled? %>
    <tr>
      <td class='label'>Assets:</td>
      <td>
        <%- pd.assets_status.each do |asset, status| %>
          <%= h asset %> - <%= status %><br/>
        <% end %>
      </td>
    </tr>
  <%- end %>
</table>

