<% content_for :head do -%>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $("#download_no_js").hide();
    });
  </script>
<% end -%>
<h1><%= I18n.t('txt.registration.download_header') %></h1>
<div class="download">
  <h2><%= I18n.t('txt.registration.instructions.download') %></h2>
  <p class="centered"><%= rollover_image_link(:print, I18n.t('txt.button.download'), @registrant.pdf_path,
                            :target => "_blank", :onclick => "window.location='#{registrant_finish_path(@registrant)}';") %></p>
  <p><%= I18n.t('txt.registration.instructions.download_2') %></p>
</div>
<div id="download_no_js">
  <div class="text">
    <p>After you have downloaded your registration form, you can continue on and let your friends know they can register to vote too.</p>
  </div>
  <p><%= rollover_image_link(:keep_going, I18n.t('txt.button.keep_going'), registrant_finish_path(@registrant)) %></p>
</div>
