<% reset_cycle %>
<%- cycle('even', 'odd') %>
<div class="stats" id="stats_by_completion_date">
  <table cellspacing="0">
    <thead><tr><th colspan="3">Continued on with State System</th></tr></thead>
    <tbody>
      <%- @stats_by_completion_date_finish_with_state.each do |state_completions| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <th><strong><%= state_completions[:state_name] %></strong></th>
          <td> <%= image_tag "admin/downArrow.png" %> </td>
        </tr>
        <tr class="<%= cycle('even', 'odd') %>">
          <th>Within last 24 hours</th>
          <td><%= state_completions[:day_count] %></td>
        </tr>
        <tr class="<%= cycle('even', 'odd') %>">
          <th>Within last 7 days</th>
          <td><%= state_completions[:week_count] %></td>
        </tr>
        <tr class="<%= cycle('even', 'odd') %>">
          <th>Within last month</th>
          <td><%= state_completions[:month_count] %></td>
        </tr>
        <tr class="<%= cycle('even', 'odd') %>">
          <th>Within last year</th>
          <td><%= state_completions[:year_count] %></td>
        </tr>
        <tr class="<%= cycle('even', 'odd') %>">
          <th>Total</th>
          <td><%= state_completions[:total_count] %></td>
        </tr>
      <%- end %>
    </tbody>
  </table>
</div>
