<fieldset>
  <legend>Your Information</legend>
  <ul class="stacked">
    <li class="width_a">
      <h3><%= form.label :name %></h3>
      <%= field_div form, :name %>
      <span class="error"><%= form.object.errors.on :name %></span>
    </li>
  </ul>
  <ul class="stacked">
    <li class="width_a">
      <h3><%= form.label :address %></h3>
      <%= field_div form, :address %>
      <span class="error"><%= form.object.errors.on :address %></span>
    </li>
  </ul>
  <ul class="stacked">
    <li class="width_a">
      <h3><%= form.label :city %></h3>
      <%= field_div form, :city %>
      <span class="error"><%= form.object.errors.on :city %></span>
    </li>
    <li class="width_b">
      <h3><%= form.label :state_abbrev, "State" %></h3>
      <div><%= form.select :state_abbrev, GeoState.collection_for_select %></div>
      <span class="error"><%= form.object.errors.on :state_abbrev %></span>
    </li>
    <li class="width_c">
      <h3><%= form.label :zip_code %></h3>
      <%= field_div form, :zip_code %>
      <span class="error"><%= form.object.errors.on :zip_code %></span>
    </li>
  </ul>
  <ul class="stacked">
    <li class="width_a">
      <h3><%= form.label :organization, "Organization (optional)" %></h3>
      <%= field_div form, :organization %>
      <span class="error"><%= form.object.errors.on :organization %></span>
    </li>
    <li class="width_a">
      <h3><%= form.label :url %></h3>
      <%= field_div form, :url %>
      <span class="error"><%= form.object.errors.on :url %></span>
    </li>
  </ul>
  <ul class="stacked">
    <li class="width_a">
      <h3><%= form.label :phone %></h3>
      <%= field_div form, :phone %>
      <span class="error"><%= form.object.errors.on :phone %></span>
    </li>
    <li class="width_a">
      <h3><%= form.label :email %></h3>
      <%= field_div form, :email %>
      <span class="error"><%= form.object.errors.on :email %></span>
    </li>
  </ul>
</fieldset>
<fieldset>
  <legend>Login and Password</legend>
  <ul class="stacked">
    <li class="width_a">
      <h3><%= form.label :username %></h3>
      <%= field_div form, :username, :disabled => !form.object.new_record? %>
      <span class="error"><%= form.object.errors.on :username %></span>
    </li>
  </ul>
  <ul class="stacked">
    <li class="width_a">
      <h3><%= form.label :password, form.object.new_record? ? nil : "Change password" %></h3>
      <%= field_div form, :password, :kind => "password" %>
      <span class="error"><%= form.object.errors.on :password %></span>
    </li>
    <li class="width_a">
      <h3><%= form.label :password_confirmation, "Confirm Password" %></h3>
      <%= field_div form, :password_confirmation, :kind => "password" %>
      <span class="error"><%= form.object.errors.on :password_confirmation %></span>
    </li>
  </ul>
</fieldset>
