<% @nav_class[:dashboard] = :current -%>

<h1>Welcome <%= @partner.name %>!</h1>

<p>
  With your Partner Dashboard, you can customize your tool and copy and pase the HTML code to embed
  your online registration tool on your website. You can access statistics and download registration
  data about the people you are registering to vote. You can also modify your partner profile.
</p>

<div id="dashboard">
  <div id="dash_right" class="dash">
    <div id="customize" class="stats">
      <table>
        <thead><tr><th colspan="3">Customize Your Registration Tool</th></tr></thead>
        <tbody>
          <tr class="odd">
            <th>
              <ul>
                <li><%= link_to "Add custom survey questions and set volunteer sign up options", edit_partner_questions_path %></li>
                <li><%= link_to "Upload your own custom logo", partner_logo_path %></li>
                <li><%= link_to "Get custom buttons and banners", partner_widget_image_path %></li>
                <li><%= link_to "Get your embed code", embed_codes_partner_path %></li>
              </ul>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <span class="button" id="link_customizetool">
      <a class="button_customizetool" href="<%= partner_logo_path %>"><span>Customize Tool</span></a>
    </span>
    <span class="button" id="link_editprofile">
      <a class="button_editprofile" href="<%= edit_partner_path %>"><span>Edit Profile</span></a>
    </span>
  </div>

  <div id="dash_left" class="dash">
    <%= render :partial => 'stats_by_completion_date' %>
    <span class="button" id="link_viewreport">
      <a class="button_viewreport" href="<%= statistics_partner_path %>"><span>View Full Report</span></a>
    </span>
    <span class="button" id="link_downloaddata">
      <a class="button_downloaddata" href="<%= registrations_partner_path(:format => :csv) %>"><span>Download Data</span></a>
    </span>
  </div>
</div>
