
<div>
  <h2>Survey Questions</h2>
  <p><strong>1.</strong> English: <%= h @partner.survey_question_1_en %></p>
  <p><strong>1.</strong> Spanish: <%= h @partner.survey_question_1_es %></p>
  <p><strong>2.</strong> English: <%= h @partner.survey_question_2_en %></p>
  <p><strong>2.</strong> Spanish: <%= h @partner.survey_question_2_es %></p>
  <p><%= link_to "Edit Questions", edit_partner_questions_path %></p>
</div>

<form class="copy_html" action="#" method="get" accept-charset="utf-8">
  <div>
    <h2><label for="link_html">Copy this HTML to link to Rock the Vote's site:</label> <%= clippy(h(@link_html)) %></h2>
    <p><textarea name="link_html" readonly="readonly" rows="4" cols="100"><%= h @link_html %></textarea></p>
  </div>
</form>
