<%- if @registrant_attributes[:reminders_stopped] %>
  <h1><%= I18n.t('txt.registration.finish_reminder_header').html_safe %></h1>
  <div class="fulltext">
    <p><%= I18n.t('txt.registration.finish_reminder', :first_name => @registrant_attributes[:first_name], :last_name=>@registrant_attributes[:last_name]).html_safe %></p>
    <p><%= I18n.t('txt.registration.finish_reminder_2').html_safe %></p>
  </div>
<%- else %>
  <h1><%= I18n.t('txt.unknown_error').html_safe %></h1>

<%- end %>

<%= render "finishes/finish_iframe" %>

<%= render :partial => 'finishes/adwords' %>
