<h1>Log In</h1>

<% form_for @partner_session, :url => partner_session_path do |f| %>
  <%= f.error_messages %>
  <%= f.label :username, "Login" %><br />
  <%= f.text_field :username, :value => "" %><br />
  <br />
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.submit "Log In" %>
<% end %>
