<% rtv_link = '<strong><a href="http://register.rockthevote.com/">register.rockthevote.com</a></strong>' %>
<style type="text/css">
<!--
.boxtext {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 22px;
  font-style: normal;
  line-height: 25px;
  font-weight: bolder;
  text-transform: uppercase;
}
-->
</style>

Estimado <%= @registrant.first_name %>,<br><br>

<table style="float: right; margin: 0 0 15px 15px; width: 275px; border: 8px solid #cc0000;color:black" width="275" cellspacing="0" cellpadding="10">
  <tr>
    <td align="center" valign="middle" class="boxtext">No se te olvide!<br> Tienes que poner un sello, firmar y enviar tu forma por correo.</td>
  </tr>
</table>

Gracias por completar tu aplicaci  n para el registro del voto con Rock the Vote.   Si no lo has hecho a  n, porfavor descarga <a href="<%= @pdf_url %>">tu aplicaci  n.</a>.<br><br>

<strong>Tu registro a  n no est   completo.  No est  s registrado hasta que entregues tu forma a los oficiales electorales de tu estado.</strong><br><br>

Si no lo has hecho a  n, <strong>porfavor aseg  rate de imprimir, firmar, poner un sello y enviar v  a correo a la direcci  n provista en tu forma y abajo indicada.</strong><br><br>

<%= @registrar_address %><br><br>

Debes recibir una confirmaci  n de tu registro por parte de los oficiales electorales de tu estado.  Algunas veces, el proceso toma varias semanas.  Si quieres revisar el estatus de tu forma de registro del voto, llama a tu Sectretar  a de Estado al <%= @registrar_phone %>.<br><br>

Necesitamos tu apoyo para registrar a otras personas.  En este 2009, hay varias elecciones a nivel local y elecciones mayors en el 2010.  Aseg  rate de que se escuche la voz de todos: env  a un email a tus familiares y amistades o simplemente pasa el mensaje abajo descrito.<br><br>

Finalmente, no se te olvide votar el d  a que hayan elecciones.  Temas tales como salud, el medio ambiente y la econom  a afectan nuestras vidas de manera diaria y son discutidos por las personas que elegimos.  Existene alrededor de 44 millones de j  venes en edad de votar y si queremos que los politicos presten atenci  n a los temas que nos interesan, tenemos que votar.<br><br>

Atentamente,<br>
Heather Smith<br>
Presidente Ejecutivo, Rock the Vote<br><br>

P.S. Visita <%= rtv_link %> para m  s informaci  n sobre el voto, las elecciones y los temas que m  s te interesan.  Encontrar  s tambi  n todas las herramientas necesarias para crear tu propia campa  a de registro de votos.<br><br>

<hr size="3" align="left" width="100%" color="black"><br><br>
<em><strong>Copia y pega el siguiente mensaje y envi  lo v  a correo electronico a toda tu familia y amistades.</strong></em><br><br>

Hola,<br><br>

No puedes votar si no est  s registrado.  Es por eso que Rock the Vote  facilita el registro de tu forma en l  nea en  <%= rtv_link %>.  Ya sea que te vayas a registrar por primera vez para votar o simplemente actualizar tus datos como direcci  n y cambio de nombre, todo en tan solo unos minutos.<br><br>

Para m  s informaci  n, visita: <%= rtv_link %>.<br><br>

Ya est  s registrado para votar? Rock the Vote necesita tu ayuda para registrar a m  s personas para votar.  Manda un correo electronico a tu familia y amistades pidiendoles que se registren para votar en <%= rtv_link %>. Aqu   encontrar  n una herramienta para iniciar tu propia campa  a de registro para votar ya sea en tu p  gina de internet o en tu blog.<br><br>

Sinceramente,<br>
<%= @registrant.first_name %><br><br>

<hr size="3" align="left" width="100%" color="black"><br><br>

Rock the vote est   compretido a preservar tu privacidad y a salvaguardar toda tu informaci  n.  Porfavor leer el <strong><a href="http://register.rockthevote.com/privacy.html">manual de privacidad del registro de votos</a></strong> para m  s detalles.<br><br>

Porfavor enviar preguntas o comentarios a: <a href="mailto:register@rockthevote.com">register@rockthevote.com</a><br>
