<% rtv_link = '<strong><a href="http://register.rockthevote.com/">register.rockthevote.com</a></strong>' %>
<style type="text/css">
<!--
.boxtext {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 22px;
  font-style: normal;
  line-height: 25px;
  font-weight: bolder;
  text-transform: uppercase;
}
-->
</style>

Estimado <%= @registrant.first_name %>,<br><br>

<table style="float: right; margin: 0 0 15px 15px; width: 275px; border: 8px solid #cc0000;color:black" width="275" cellspacing="0" cellpadding="10">
  <tr>
    <td align="center" valign="middle" class="boxtext">No se te olvide!<br> Tienes que poner un sello, firmar y enviar tu forma por correo.</td>
  </tr>
</table>

Gracias por completar tu aplicación para el registro del voto con Rock the Vote.   Si no lo has hecho aún, porfavor descarga <a href="<%= @pdf_url %>">tu aplicación.</a>.<br><br>

<strong>Tu registro aún no está completo.  No estás registrado hasta que entregues tu forma a los oficiales electorales de tu estado.</strong><br><br>

Si no lo has hecho aún, <strong>porfavor asegúrate de imprimir, firmar, poner un sello y enviar vía correo a la dirección provista en tu forma y abajo indicada.</strong><br><br>

<%= @registrar_address %><br><br>

Debes recibir una confirmación de tu registro por parte de los oficiales electorales de tu estado.  Algunas veces, el proceso toma varias semanas.  Si quieres revisar el estatus de tu forma de registro del voto, llama a tu Sectretaría de Estado al <%= @registrar_phone %> o cheque en línea en <%= @registrar_url %>.<br><br>

Necesitamos tu apoyo para registrar a otras personas.  Asegúrate de que se escuche la voz de todos: envía un email a tus familiares y amistades o simplemente pasa el mensaje abajo descrito.<br><br>

Finalmente, no se te olvide votar el día que hayan elecciones.  Existene alrededor de 45 millones de jóvenes en edad de votar y si queremos que los politicos presten atención a los temas que nos interesan, tenemos que votar.<br><br>

Atentamente,<br>
Heather Smith<br>
Presidente Ejecutivo, Rock the Vote<br><br>

P.S. Visita <strong><a href="http://www.rockthevote.com/">www.rockthevote.com</a></strong> para más información sobre el voto, las elecciones y los temas que más te interesan.  Encontrarás también todas las herramientas necesarias para crear tu propia campaña de registro de votos.<br><br>

<hr size="3" align="left" width="100%" color="black"><br><br>
<em><strong>Copia y pega el siguiente mensaje y envíalo vía correo electronico a toda tu familia y amistades.</strong></em><br><br>

Hola,<br><br>

No puedes votar si no estás registrado.  Es por eso que Rock the Vote  facilita el registro de tu forma en línea en  <%= rtv_link %>.  Ya sea que te vayas a registrar por primera vez para votar o simplemente actualizar tus datos como dirección y cambio de nombre, todo en tan solo unos minutos.<br><br>

Para más información, visita: <%= rtv_link %>.<br><br>

Ya estás registrado para votar? Rock the Vote necesita tu ayuda para registrar a más personas para votar.  Manda un correo electronico a tu familia y amistades pidiendoles que se registren para votar en <%= rtv_link %>. Aquí encontrarán una herramienta para iniciar tu propia campaña de registro para votar ya sea en tu página de internet o en tu blog.<br><br>

Sinceramente,<br>
<%= @registrant.first_name %><br><br>

<hr size="3" align="left" width="100%" color="black"><br><br>

Rock the vote está compretido a preservar tu privacidad y a salvaguardar toda tu información.  Porfavor leer el <strong><a href="http://register.rockthevote.com/privacy.html">manual de privacidad del registro de votos</a></strong> para más detalles.<br><br>

Porfavor enviar preguntas o comentarios a: <a href="mailto:register@rockthevote.com">register@rockthevote.com</a><br>
