<h1>Choose A Web Banner</h1>
<div class="text">
  <p>
    Before you get your embed code, decide the banner size you'd like to use on your site.
    After you choose the banner, you can get your embed code.
  </p>
</div>

<div id="choose_widget">
<% form_for @partner, :url => partner_widget_image_path, :method => :put do |form| %>
  <fieldset>
  <legend>Select Widget Banner</legend>
    <table>
      <tbody>
        <tr>
          <th><%= form.radio_button :widget_image_name, "" %></th>
          <td><%= form.label :widget_image_name,
                              'Text only:&nbsp;&nbsp;<span style="color:#B2272C">Register to Vote Here</span>',
                              :for => "partner_widget_image_name_" %></td>
        </tr>
        <tr>
          <th><%= form.radio_button :widget_image_name, "rtv100x100v1" %></th>
          <td><%= form.label :widget_image_name, image_tag("widget/rtv-100x100-v1.gif"),
                             :for => "partner_widget_image_name_rtv100x100v1" %> <em>100 x 100</em></td>
        </tr>
        <tr>
          <th><%= form.radio_button :widget_image_name, "rtv234x60v1" %></th>
          <td><%= form.label :widget_image_name, image_tag("widget/rtv-234x60-v1.gif"),
                             :for => "partner_widget_image_name_rtv234x60v1" %> <em>234 x 60</em></td>
        </tr>
        <tr>
          <th><%= form.radio_button :widget_image_name, "rtv300x100v1" %></th>
          <td><%= form.label :widget_image_name, image_tag("widget/rtv-300x100-v1.gif"),
                             :for => "partner_widget_image_name_rtv300x100v1" %> <em>300 x 100</em></td>
        </tr>
        <tr>
          <th><%= form.radio_button :widget_image_name, "rtv200x165v1" %></th>
          <td><%= form.label :widget_image_name, image_tag("widget/rtv-200x165-v1.gif"),
                             :for => "partner_widget_image_name_rtv200x165v1" %> <em>200 x 165</em></td>
        </tr>
        <tr>
          <th><%= form.radio_button :widget_image_name, "rtv468x60v1" %></th>
          <td><%= form.label :widget_image_name, image_tag("widget/rtv-468x60-v1.gif"),
                             :for => "partner_widget_image_name_rtv468x60v1" %> <em>468 x 60</em></td>
        </tr>
        <tr>
          <th><%= form.radio_button :widget_image_name, "rtv468x60v1sp" %></th>
          <td><%= form.label :widget_image_name, image_tag("widget/rtv-468x60-v1-sp.gif"),
                             :for => "partner_widget_image_name_rtv468x60v1sp" %> <em>468 x 60</em></td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  <div class="button">
    <a class="button_getembedcode" href="#"><button type="submit" id="partner_submit"><span>Get Embed Code</span></button></a>
  </div>
<% end %>
</div>
