<% content_for :head do %>
<script>

function showStateRegContinueButtons() {
  if ($("input:checkbox[name='registrant[has_state_license]']").get(0).checked) {
    $('.has_no_license').hide();
    $('.has_license').show();
  } else {
    $('.has_license').hide();
    $('.has_no_license').show();
  }
}

$(document).ready(function() {
  $('.has_license').hide();

  showStateRegContinueButtons();
  $('#registrant_has_state_license').click(showStateRegContinueButtons);
  
});
</script>
<% end %>


<%= render :partial=> "registrants/phone", :locals=>{:form=>form} %>


<%- checkbox_text = @registrant.locale.to_s.downcase == 'es' ? 'ES TBD' : 'I am a resident of California, living in the United States' %>

<span class="error"><%= form.object.errors.on :has_state_license %></span>
<ul class="checkbox">
  <li class="spacer">&nbsp;</li>
  <li>
    <h3>
      <%= form.check_box :has_state_license, :checked=>@registrant.has_state_license==true %>
      <%= form.label :has_state_license, checkbox_text %>
    </h3>
  </li>
</ul>
<div class='has_license'>
  <div class="checkbox-explanation" >
  <p><%= I18n.t('txt.registration.instructions.state_online_registration', :state=>@registrant.home_state_name)%></p>
  </div>
</div>

<fieldset>
  <legend><%= I18n.t('txt.registration.stay_informed_header') %></legend>

  <%= render :partial=> 'registrants/email_opt_ins', :locals=>{:form=>form} %>
  <%= render :partial=> 'registrants/phone_opt_ins', :locals=>{:form=>form} %>
</fieldset>



<div class='has_no_license'>
  <%= rollover_button(:next_step, I18n.t('txt.button.submit')) %>
</div>

<div class='has_license' style="display:none;">
  
  <%= rollover_button(:state_online_registration, I18n.t('txt.button.state_online_registration', :state=>@registrant.home_state_name), {:id=>'registrant_state_online_registration',:name=>'registrant_state_online_registration',:value=>'registrant_state_online_registration'}) %>  
  
</div>

