<ul class="flat">
  <li class="width_b">
    <h3><%= form.label :phone %></h3>
    <div class="flat-stack">
      <%= field_div form, :phone %>
      <% if form.object.errors.on :phone %>
        <span class="error"><%= form.object.errors.on :phone %></span>
      <% else %>
        <span class="example">###-###-####</span>
      <% end %>
    </div>
    <%= tooltip_tag :phone %>
  </li>
  <li class="secondary">
    <h3><%= form.label :phone_type %></h3>
    <div class="flat-stack">
      <div><%= form.select :phone_type, I18n.t('txt.registration.phone_types') %></div>
      <span class="error"><%= form.object.errors.on :phone_type %></span>
    </div>
  </li>
</ul>

<%= render :partial=> 'registrants/email_opt_ins', :locals=>{:form=>form} %>
<%= render :partial=> 'registrants/phone_opt_ins', :locals=>{:form=>form} %>


<ul class="checkbox">
  <li class="spacer">&nbsp;</li>
  <li>
    <h3>
      <%= form.radio_button :has_state_license, true %>
      <%= form.label :has_state_license_true, t('txt.registration.has_state_license', :state=>h(@registrant.home_state.abbreviation)) %>
    </h3>
  </li>
</ul>
<ul class="checkbox">
  <li class="spacer">&nbsp;</li>
  <li>
    <h3>
      <%= form.radio_button :has_state_license, false %>
      <%= form.label :has_state_license_false, t('txt.registration.has_no_state_license', :state=>h(@registrant.home_state.abbreviation)) %>
    </h3>
  </li>
</ul>
