<%= hidden_field_tag "partner", @partner_id %>
<%= hidden_field_tag "locale", @locale %>
<%= hidden_field_tag "source", @source %>
<%= form.hidden_field :under_18_ok, :value => 0 %>


<% content_for :head do %>
<script>
$(document).ready(function() {
  $('#registrant_javascript_disabled').remove();
});
</script>
<% end %>
<%= form.hidden_field :javascript_disabled %>

<ul class="flat">
  <li class="width_f">
    <h3><%= form.label :email_address %></h3>
    <%= field_div form, :email_address %>
    <div class="tooltip"><%= tooltip_tag :email_address %></div>
    <span class="error"><%= form.object.errors.on :email_address %></span>
  </li>
</ul>
<ul class="flat">
  <li class="width_f">
    <h3><%= form.label :home_zip_code %></h3>
    <%= field_div form, :home_zip_code %>
    <div class="tooltip"><%= tooltip_tag :home_zip_code %></div>
    <span class="error"><%= form.object.errors.on :home_zip_code %></span>
  </li>
</ul>
<ul class="flat">
  <li class="width_f">
    <h3><%= form.label :date_of_birth %></h3>
    <%= field_div form, :date_of_birth, :value => form.object.form_date_of_birth %>
    <div class="tooltip"><%= tooltip_tag :date_of_birth %></div>
    <% if form.object.errors.on :date_of_birth %>
      <span class="error"><%= form.object.errors.on :date_of_birth %></span>
    <% else %>
      <span class="example">MM-DD-YYYY</span>
    <% end %>
  </li>
</ul>

<ul class="checkbox">
  <li class="spacer">&nbsp;</li>
  <li>
    <h3>
      <%= form.check_box :us_citizen %> <%= form.label :us_citizen %>
      <span class="error"><%= form.object.errors.on :us_citizen %></span>
    </h3>
  </li>
</ul>

<ul class="checkbox">
  <li class="spacer">&nbsp;</li>
  <li>
    <h3>
      <%= form.check_box :first_registration %> <%= form.label :first_registration %>
      <span class="error"><%= form.object.errors.on :first_registration %></span>
    </h3>
  </li>
</ul>
