<%= form.hidden_field :partner_id %>
<%= form.hidden_field :locale %>
<ul>
  <li class="left-label">
    <h2><%= form.label :email_address %></h2>
  </li>
  <li><%= form.text_field :email_address %></li>
</ul>
<ul>
  <li class="left-label">
    <h2><%= form.label :home_zip_code %></h2>
  </li>
  <li><%= form.text_field :home_zip_code %></li>
</ul>
<ul>
  <li class="left-label">
    <h2><%= form.label :date_of_birth %></h2>
  </li>
  <li><%= form.text_field :date_of_birth %></li>
</ul>

<ul>
  <li>
    <h2><%= form.check_box :us_citizen %> <%= form.label :us_citizen %></h2>
  </li>
</ul>

<ul>
  <li>
    <h2><%= form.check_box :first_registration %> <%= form.label :first_registration %></h2>
  </li>
</ul>
