<%= form.hidden_field :partner_id %>
<%= form.hidden_field :locale %>
<ul class="flat">
  <li>
    <h3><%= form.label :email_address %></h3>
    <div><%= form.text_field :email_address %></div>
    <span class="error"><%= form.object.errors.on :email_address %></span>
  </li>
</ul>
<ul class="flat">
  <li>
    <h3><%= form.label :home_zip_code %></h3>
    <div><%= form.text_field :home_zip_code %></div>
    <span class="error"><%= form.object.errors.on :home_zip_code %> <%= form.object.errors.on :home_state_id %></span>
  </li>
</ul>
<ul class="flat">
  <li>
    <h3><%= form.label :date_of_birth %></h3>
    <div><%= form.text_field :date_of_birth %></div>
    <span class="error"><%= form.object.errors.on :date_of_birth %></span>
  </li>
</ul>

<ul class="checkbox">
  <li>
    <h3>
			<%= form.check_box :us_citizen %> <%= form.label :us_citizen %>
			<span class="error"><%= form.object.errors.on :us_citizen %></span>
		</h3>
  </li>
</ul>

<ul class="checkbox">
  <li>
    <h3>
			<%= form.check_box :first_registration %> <%= form.label :first_registration %>
			<span class="error"><%= form.object.errors.on :first_registration %></span>
		</h3>
  </li>
</ul>
