<div class="row">
  <h3><%= form.label :email_address %></h3>
  <p><%= form.text_field :email_address %></p>
</div>
<div class="row">
  <h3><%= form.label :home_zip_code %></h3>
  <p><%= form.text_field :home_zip_code %></p>
</div>
<div class="row">
  <h3><%= form.label :date_of_birth %></h3>
  <p><%= form.text_field :date_of_birth %></p>
</div>
<div class="row">
  <h3><%= form.check_box :us_citizen %> <%= form.label :us_citizen %></h3>
</div>
<div class="row">
  <h3><%= form.check_box :first_registration %> <%= form.label :first_registration %></h3>
</div>
