<ul class="flat race-dropdown">
  <li>
    <h3><%= form.label :race %></h3>
    <div><%= form.select :race, I18n.t('txt.registration.races'), :include_blank => true %></div>
    <div class="tooltip"><%= tooltip_tag :race, @race_tooltip %></div>
    <span class="error"><%= form.object.errors[:race] %></span>
  </li>
</ul>
<% if @state_parties %>
  <ul class="flat party-dropdown">
    <li>
      <h3><%= form.label :party %></h3>
      <%= select_div form, :party, @state_parties, :include_blank => true %>
      <div class="tooltip"><%= tooltip_tag :party, @party_tooltip %></div>
      <span class="error"><%= form.object.errors[:party] %></span>
    </li>
  </ul>
<% end %>
