<h1>Editing registrant</h1>

<% form_for(@registrant) do |form| %>
  <%= form.error_messages %>
  <%= render :partial => 'form', :object => form %>
  <p>
    <%= form.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @registrant %> |
<%= link_to 'Back', registrants_path %>