<h1><%= I18n.t('txt.registration.finish_header') %></h1>
<div class="fulltext"><p><%= I18n.t('txt.registration.instructions.finish') %></p></div>
<div class="share">
  <div><%= link_to image_tag("share-facebook.gif"), "http://www.facebook.com/" %></div>
  <div><%= link_to image_tag("share-twitter.gif"), "http://twitter.com/" %></div>
  <div><%= link_to image_tag("share-googlebuzz.gif"), "http://www.google.com/buzz" %></div>
</div>

<div class="tell_friend">
  <% form_for(:tell_friend, @registrant, :url => registrant_tell_friends_path(@registrant), :class => "tell_friend") do |form| %>
    <fieldset>
      <legend><%= I18n.t('txt.registration.tell_a_friend_title') %></legend>
      <ul class="stacked">
        <li class="width_g">
          <h3><%= form.label :tell_from %></h3>
          <%= field_div form, :tell_from %>
          <span class="error"><%= form.object.errors.on :tell_from %></span>
        </li>
        <li class="width_x">&nbsp;</li>
        <li class="width_g">
          <h3><%= form.label :tell_email %></h3>
          <%= field_div form, :tell_email %>
          <span class="error"><%= form.object.errors.on :tell_email %></span>
        </li>
      </ul>
      <ul class="stacked">
        <li class="width_h">
          <h3><%= form.label :tell_recipients %> <%= I18n.t('txt.registration.instructions.finish_tell_recipients') %></h3>
          <%= field_div form, :tell_recipients %>
          <span class="error"><%= form.object.errors.on :tell_recipients %></span>
        </li>
      </ul>
      <ul class="stacked">
        <li class="width_h">
          <h3><%= form.label :tell_subject %></h3>
          <%= field_div form, :tell_subject %>
          <span class="error"><%= form.object.errors.on :tell_subject %></span>
        </li>
      </ul>
      <ul class="stacked">
        <li class="width_h">
          <h3><%= form.label :tell_message %></h3>
          <div class="tall"><%= form.text_area :tell_message %></div>
        </li>
      </ul>
      <%= rollover_button(:sendemail, I18n.t('txt.button.submit')) %>
    </fieldset>
  <% end %>
</div>

<div class="fulltext">
  <p class="bold">
    <%= I18n.t('txt.registration.instructions.finish_2') %>
    <a href="http://www.rockthevote.com/partner">http://www.rockthevote.com/partner</a>
  </p>
</div>
