<h1><%= I18n.t('txt.registration.ineligible_header') %></h1>
<p><%= I18n.t('txt.registration.ineligible.non_participating_state', :state => @registrant.home_state_name) if @registrant.ineligible_non_participating_state? %></p>
<p><%= I18n.t('txt.registration.ineligible.age') if @registrant.ineligible_age? %></p>
<p><%= I18n.t('txt.registration.ineligible.non_citizen') if @registrant.ineligible_non_citizen? %></p>
<p><%= I18n.t('txt.registration.ineligible.attest') if @registrant.ineligible_attest? %></p>
<p><%= link_to I18n.t('txt.button.ineligible_try_again'), try_again_path(@registrant)  %></p>