%h1= t('txt.registration.step_1_header')

#other_language_link
  - if @registrant.new_record?
    - RockyConf.enabled_locales.each do |loc|
      - unless loc.to_s == I18n.locale.to_s
        = link_to t('txt.registration.in_language_name', :locale=>loc), new_registrant_path(params.dup.merge({:locale=>loc})), :class => 'other_language_link'
        -# new_registrant_path(partner_locale_options(@partner_id, loc, @source)),

= form_for(@registrant) do |form|
  = render :partial => 'form', :object => form
  = I18n.t('txt.registration.instructions.overseas').html_safe
  = rollover_button(:next_step, I18n.t('txt.button.submit').html_safe)

