<% if @stop_reminders -%>
  <h1>Thanks for Registering!</h1>
  <div class="fulltext">
    <p><%= I18n.t('txt.registration.finish_reminder', :first_name => @registrant.first_name) %></p>
    <p><%= I18n.t('txt.registration.finish_reminder_2') %></p>
  </div>
<% end -%>

<%= case @registrant.status.to_sym
    when :complete, :step_5 ; render :partial => "finishes/complete"
    when :under_18          ; render :partial => "finishes/under_18"
    end
  -%>

<div class="share">
  <div><%= rollover_image_link( :share_facebook,
                                I18n.t('txt.button.share_facebook'),
                                "http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.rockthevote.com%2Fregister%2Ffb&t=#{@registrant.status_text}",
                                :target => "_blank" ) %>
  </div>
  <div><%= rollover_image_link( :share_twitter,
                                I18n.t('txt.button.share_twitter'),
                                "http://twitter.com/home?status=#{@registrant.status_text}+#{@root_url_escaped}",
                                :target => "_blank") %>
  </div>
  <div><%= rollover_image_link( :share_googlebuzz,
                                I18n.t('txt.button.share_googlebuzz'),
                                "http://www.google.com/reader/link?url=#{@root_url_escaped}&amp;srcURL=#{@root_url_escaped}" +
                                "&amp;srcTitle=Rock%20the%20Vote&amp;title=#{@registrant.status_text}",
                                :target => "_blank") %>
  </div>
</div>

<div class="tell_friend">
  <% form_for(:tell_friend, @registrant, :url => registrant_tell_friends_path(@registrant), :class => "tell_friend") do |form| %>
    <fieldset>
      <legend><%= I18n.t('txt.registration.tell_a_friend_title') %></legend>
      <% if @email_sent %>
        <p><%= I18n.t('txt.registration.instructions.finish_email_sent') %></p>
        <p><%= I18n.t('txt.registration.instructions.finish_update_status') %></p>
      <% else %>
        <ul class="stacked">
          <li class="width_g">
            <h3><%= form.label :tell_from %></h3>
            <%= field_div form, :tell_from %>
            <span class="error"><%= form.object.errors.on :tell_from %></span>
          </li>
          <li class="width_x">&nbsp;</li>
          <li class="width_g">
            <h3><%= form.label :tell_email %></h3>
            <%= field_div form, :tell_email %>
            <span class="error"><%= form.object.errors.on :tell_email %></span>
          </li>
        </ul>
        <ul class="stacked">
          <li class="width_h">
            <h3><%= form.label :tell_recipients %> <%= I18n.t('txt.registration.instructions.finish_tell_recipients') %></h3>
            <%= field_div form, :tell_recipients %>
            <span class="error"><%= form.object.errors.on :tell_recipients %></span>
          </li>
        </ul>
        <ul class="stacked">
          <li class="width_h">
            <h3><%= form.label :tell_subject %></h3>
            <%= field_div form, :tell_subject %>
            <span class="error"><%= form.object.errors.on :tell_subject %></span>
          </li>
        </ul>
        <ul class="stacked">
          <li class="width_h">
            <h3><%= form.label :tell_message %></h3>
            <div class="tall"><%= form.text_area :tell_message %></div>
          </li>
        </ul>
        <%= rollover_button(:sendemail, I18n.t('txt.button.submit')) %>
      <% end %>
    </fieldset>
  <% end %>
</div>

<div class="fulltext">
  <p class="bold">
    <%= I18n.t('txt.registration.instructions.finish_2') %>
    <a href="http://www.rockthevote.com/partner">http://www.rockthevote.com/partner</a>
  </p>
</div>
