- if value.is_a?(Hash)
  - value.each do |k,v|
    = render :partial=>'key_value', :locals=>{:key=>"#{key}.#{k}", :value=>v}
- else
  %li
    %span.translation_key= key
    %br
    - I18n.available_locales.each do |locale|
      .locale
        %h4.locale_name= locale
        .translation= I18n.t(key, :locale=>locale)
        .translation= @localizations[:en][key]
    