<% content_for :head do %>
<script>

$(document).ready(function() {
  $('.skip_state_registration_link').show();
  
  $('.skip_state_registration').hide();
  $('.skip_state_registration_link').click(function() {
    $('.skip_state_registration').show();
  });
  
});
</script>
<% end %>


<%= I18n.t('states.custom.ca.step_2.instruction_text')  %>

  <%= rollover_button(:next_step, I18n.t('txt.button.state_online_registration', :state=>@registrant.home_state_name), {:id=>'registrant_state_online_registration',:name=>'registrant_state_online_registration',:value=>'registrant_state_online_registration'}) %>  
  

<a href="#" class='skip_state_registration_link' style="display:none;">
<%= I18n.t('txt.button.skip_state_online_registration', :rtv_and_partner_name=>@registrant.rtv_and_partner_name).html_safe %>
</a>
<br/><br/>
<br/><br/>
<div class="skip_state_registration">
  
<%= render :partial=> "registrants/state_id_number", :locals=>{:form=>form} %>

<%= render :partial=> "registrants/race_and_party", :locals=>{:form=>form} %>


<%= rollover_button(:skip_state_online_registration, I18n.t('txt.button.review').html_safe , {:id=>'registrant_skip_state_online_registration',:name=>'registrant_skip_state_online_registration',:value=>'registrant_skip_state_online_registration'}) %>  


</div>