<% content_for :head do %>
<script>

$(document).ready(function() {
  var show_skip_ovr_fields = <%= [params[:show_fields], @show_fields].include?("1") ||  !@registrant.covr_success ? 'true' : 'false' %>;
  $('.skip_state_registration_link').show();
  if(!show_skip_ovr_fields) {
    $('.skip_state_registration').hide();    
  }
  $('.skip_state_registration_link').click(function() {
    $('.skip_state_registration').show();
  });
  
});
</script>
<% end %>


<%- if @registrant.covr_success %>
  <h1><%= I18n.t('txt.registration.instructions.state_online_registration', :state=>@registrant.home_state_abbrev).html_safe %></h1>
  <br/>
  <h3 class="ovr_step_4"><%= I18n.t('txt.registration.instructions.state_online_registration_sub_header').html_safe %></h3>
  <%= form.hidden_field :covr_token %>
  <%= form.hidden_field :covr_success %>
  <ul class="affirm">
    <li>
      <div class="disclosures" style="background: white; overflow:scroll; height: 200px; width: 500px; padding: 5px margin:10px 0">
        TBD 5 CA Disclosures
      </div>
      
      <h3>
        <%= form.check_box :ca_disclosures %>
        <%= form.label :ca_disclosures, I18n.t('activerecord.attributes.registrant.attest_true') %>
      </h3>
    </li>
    <li>
      <span class="error"><%= form.object.errors[:ca_disclosures].join("\n") %></span>
    </li>
  </ul>
    <%= rollover_button(:next_step, I18n.t('txt.button.state_online_registration', :state=>@registrant.home_state_abbrev), {:id=>'registrant_state_online_registration',:name=>'registrant_state_online_registration',:value=>'registrant_state_online_registration'}) %>  
  

  <a href="#" class='skip_state_registration_link' style="display:none;">
  <%= I18n.t('txt.button.skip_state_online_registration', :rtv_and_partner_name=>@registrant.rtv_and_partner_name).html_safe %>
  </a>
  <br/><br/>
  <br/><br/>
<%- end %>

<div class="skip_state_registration">
  
  <h1><%= t('txt.registration.step_3_header') %></h1>
  
<%= render :partial=> "registrants/state_id_number", :locals=>{:form=>form} %>

<%= render :partial=> "registrants/race_and_party", :locals=>{:form=>form} %>


<%= rollover_button(:skip_state_online_registration, I18n.t('txt.button.review').html_safe , {:id=>'registrant_skip_state_online_registration',:name=>'registrant_skip_state_online_registration',:value=>'registrant_skip_state_online_registration'}) %>  


</div>

<%- if RockyConf.ovr_states.CA.api_settings.debug_in_ui %>
<h3>XML Request:</h3>
<pre style="background: white; overflow:scroll; height: 200px; padding:10px; width: 500px; margin:10px 0"> 
  <%= controller.debug_data[:api_xml_request]%>
</pre>

<h3>XML Response:</h3>
<pre style="background: white; overflow:scroll; height: 200px; padding:10px; width: 500px; margin:10px 0"> 
  <%= controller.debug_data[:api_xml_response]%>
</pre>

<%- end%>