<%= form_for(@registrant, :url => registrant_step_4_path(@registrant)) do |form| %>
  <%- if @registrant.in_ovr_flow? %>
    <%= render :partial=> @registrant.custom_step_4_partial, :locals=>{:form=>form} %>
  <%- else %>
    
    <h1><%= t('txt.registration.step_4_header') %></h1>
    <div class="step-4">
      <%= render :partial=> 'registrants/email_opt_ins', :locals=>{:form=>form} %>
      <%= render :partial=> 'registrants/phone_opt_ins', :locals=>{:form=>form, :show_hr=>true} %>

    </div>

    <%= render :partial=>'registrants/survey_and_volunteer', :locals=>{:form=>form} %>
    <%= rollover_button(:review, I18n.t('txt.button.review')) %>
  <%- end %>
  <div class="back">
    <%= link_to t('txt.button.back').html_safe, (@registrant.skip_survey_and_opt_ins? && @registrant.in_ovr_flow?) ? registrant_step_2_path(@registrant) : registrant_step_3_path(@registrant) %></div>
<% end %>
