<h1><%= t('txt.registration.step_4_header') %></h1>

<% form_for(@registrant, :url => registrant_step_4_path(@registrant)) do |form| %>
  <ul class="checkbox">
    <li>
      <h3>
        <%= form.check_box :opt_in_email %>
        <%= form.label :opt_in_email, t('txt.registration.opt_in_email', :email_address => h(@registrant.email_address)) %>
      </h3>
    </li>
  </ul>

  <% unless @registrant.phone.blank? %>
    <ul class="checkbox">
      <li>
        <h3>
          <%= form.check_box :opt_in_sms %>
          <%= form.label :opt_in_sms, t('txt.registration.opt_in_sms', :phone => h(@registrant.phone)) %>
        </h3>
      </li>
    </ul>
  <% end %>

  <ul class="question">
    <li>
      <h3><%= form.label :survey_answer_1, h(@question_1) %></h3>
      <div><%= form.text_area :survey_answer_1, :size => "40x3" %></div>
    </li>
  </ul>
  <ul class="question">
    <li>
      <h3><%= form.label :survey_answer_2, h(@question_2) %></h3>
      <div><%= form.text_area :survey_answer_2, :size => "40x3" %></div>
    </li>
  </ul>

  <div class="back"><%= link_to t('txt.button.back'), registrant_step_3_path(@registrant) %></div>
  <div class="button"><%= image_submit_tag "#{I18n.locale}/button_reviewregistration.gif", :alt => I18n.t('txt.button.review'), :id => "registrant_submit" %></div>
<% end %>
