- using_default ||= false
%span.method= key
%span.value
  = value
  - if key != 'abbreviation' && key != 'name'
    %br
    = text_field_tag("config[#{state}.#{(key).to_s}]", value)
    - if key_has_default(key, state)
      %br
      = check_box_tag("config[#{state}.#{(key).to_s}]", "DEFAULT", using_default)
      = "use default? (#{@defaults[key]})"
      
  - else
    = hidden_field_tag("config[#{state}.#{(key).to_s}]", value)
