<div id="footer">
  <p>
    <span id="powered_by_logo">
      <a href="<%= Settings.sponsor.url %>" target="_blank">
        <img src="/images/powered-by-rtv-logo.png" alt="Rock The Vote">
      </a>
    </span>
    <span><a href="<%= Settings.sponsor.footer_link_base_url %>/faq.html" target="_blank" title="FAQ">FAQ</a></span>
    <span><a href="<%= Settings.sponsor.footer_link_base_url %>/privacy.html" target="_blank" title="Privacy &amp; Security">Privacy &amp; Security</a></span>
    <span><a href="<%= Settings.sponsor.footer_link_base_url %>/contact.html" target="_blank" title="Contact Us">Contact Us</a></span>
    <span><a href="<%= Settings.sponsor.footer_link_base_url %>/about.html" target="_blank" title="About">About</a></span>
    <span class="copyright"><%= Settings.sponsor.footer_copyright % Date.today.year %></span>
  </p>
</div>
