<div id="footer">
  <p>
    <span><a href="<%= FOOTER_LINK_BASE_URL %>/faq.html" target="_blank" title="FAQ">FAQ</a></span>
    <span><a href="<%= FOOTER_LINK_BASE_URL %>/privacy.html" target="_blank" title="Privacy &amp; Security">Privacy &amp; Security</a></span>
    <span><a href="<%= FOOTER_LINK_BASE_URL %>/contact.html" target="_blank" title="Contact Us">Contact Us</a></span>
    <span><a href="<%= FOOTER_LINK_BASE_URL %>/about.html" target="_blank" title="About">About</a></span>
    <span class="copyright"><%= FOOTER_COPYRIGHT % Date.today.year %></span>
  </p>
</div>
