<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Admin Console</title>
  <%= stylesheet_link_tag "application", "partner", "admin" %>
  <!--[if !IE 7]>
    <style type="text/css">
      #container { display:table; height:100% }
    </style>
  <![endif]-->
  <%= javascript_include_tag 'application' %>
  <%= yield :head %>
</head>
<body>
  <div id="bg"><div></div></div>
  <div id="container">
    <div id="header">
      <p>
        <%= link_to "Dashboard", admin_partners_path %>
      </p>
    </div>

    <div id="main">
      <div id="main_inner">
        <%= yield :subnav %>
        <%= flash_messages.html_safe %>
        <%= yield %>
      </div>
    </div>
  </div>
  <div id="sticky_footer">
    <%= render :partial => 'layouts/footer' %>
  </div>
  <%= javascript_include_tag 'admin' %>
</body>
</html>
