<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title> Rocky </title>
  <%= stylesheet_link_tag "application" %>
  <!--[if lt IE 7]>
     <%#= stylesheet_link_tag "ie6" %>
  <![endif]-->
  <%= yield :head %>
</head>
<body>
  <div id="container">
    <div id="flash">
      <%= flash[:warning] %>
      <%= flash[:message] %>
      <%= flash[:success] %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
