<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title> Rocky </title>
  <%= stylesheet_link_tag "application", "partner" %>
  <!--[if lt IE 7]>
     <%#= stylesheet_link_tag "ie6" %>
  <![endif]-->
  <%= javascript_include_tag Rails.env.production? ? 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' : 'jquery-1.3.2',
                             'application' %>
  <%= yield :head %>
</head>
<body>
  <div id="container">
    <% if current_partner_session %>
      <div id="header">
        <span><%= link_to "Log out", logout_path %></span>
        <p>
          <%= link_to "Dashboard", partner_path, :class => @nav_class[:dashboard] %> |
          <%= link_to "Reports", statistics_partner_path, :class => @nav_class[:statistics] %> |
          <%= link_to "Customize", partner_logo_path, :class => @nav_class[:customize] %> |
          <%= link_to "Edit Profile", edit_partner_path, :class => @nav_class[:profile] %>
        </p>
    <% else %>
      <div id="header" class="not_logged_in">
        <span><%= link_to "Log in", login_path %></span>
    <% end %>
    </div>
    <div id="main">
      <%= yield :subnav %>
      <%= flash_messages %>
      <%= yield %>
    </div>
  </div>
  <div id="sticky-footer">
    <%= render :partial => 'layouts/footer' %>
  </div>
</body>
</html>
