<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Online Voter Registration</title>
  <meta name = "viewport" content = "width = 600" />
  <%= stylesheet_link_tag *partner_css %>
  <!--[if !IE 7]>
    <style type="text/css">
      #container { display:table; height:100% }
    </style>
  <![endif]-->
  <%= javascript_include_tag 'application', 'registration' %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() { hideErrors(); setTimeout('revealErrors();', 400); });
  </script>
  <%= yield :head %>
</head>
<body>
  <div id="container">

  <% if @partner.custom_logo? -%>
    <div id="header" class="partner">
      <div id="partner-logo">
        <%= image_tag @partner.logo.url(:header) %>
      </div>
  <% else -%>
    <div id="header">
  <% end -%>
      <div id="progress-bar">
        <ol>
          <li class="progress-title"><%= t('txt.registration.progress_indicator').html_safe %></li>
          <%= progress_indicator.html_safe %>
        </ol>
      </div>
    </div>

    <div id="main">
      <div id="main_inner">
        <%= yield %>
      </div>
    </div>

  </div>
  <div id="sticky_footer">
    <%= render :partial => 'layouts/footer' %>
  </div>


<%= render :partial => 'layouts/urchin' %>
</body>
</html>
