<%= render :partial=>"admin/shared/admin_nav" %>

<h1>Edit Government Partner</h1>

<%= form_for [ :admin, @partner ], :url=> admin_government_partner_path, :html => { :multipart => true } do |f| %>
  <%= render :partial=>'admin/shared/partner_general_fields', :locals=>{:f=>f} %>

  <%= render :partial=>'admin/shared/partner_whitelabel_fields', :locals=>{:f=>f} %>

  <%= render :partial=>'government_partner_fields', :locals=>{:f=>f} %>
  <%= partner_rollover_button 'save', 'Save' %>
<% end %>
