<%= render :partial=>"admin/shared/admin_nav" %>

<h1>Government Partners</h1>

<%= link_to "Create New Government Partner", new_admin_government_partner_path %>

<table id="partners">
  <thead>
    <tr>
      <th>ID</th>
      <th>Organization</th>
      <th>API Key</th>
      <th>Whitelabeled</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%- @partners.each do |p| %>
      <tr>
        <td><%= p.id %></td>
        <td><%= link_to p.organization, admin_government_partner_path(p) %></td>
        <td><%= h p.api_key %></td>
        <td><%= p.whitelabeled? ? 'Yes' : 'No' %></td>
        <td><%= link_to "Edit", edit_admin_government_partner_path(p) %></td>
      </tr>
    <%- end %>
  </tbody>
</table>
